.collection {
  &__items {
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    & > * {
      &:nth-child(2n) {
        margin: 0 1.75rem;
      }
      &:nth-child(1n):not(:nth-child(5n)):not(:first-of-type):not(:nth-child(9)) {
        margin: 0 1.75rem;
      }
      &:first-of-type,
      &:nth-child(5n),
      &:nth-child(9) {
        margin-right: 1.75rem;
      }
    }

    @media (max-width: 450px) {
      justify-content: center;

      & > * {
        &:nth-child(2n) {
          margin: 0 0rem;
        }
        &:nth-child(1n):not(:nth-child(5n)):not(:first-of-type):not(:nth-child(9)) {
          margin: 0 0rem;
        }
        &:first-of-type,
        &:nth-child(5n),
        &:nth-child(9) {
          margin-right: 0rem;
        }
        margin: 3rem 0 !important;
      }
    }
  }
}
