.collection-item {
  position: relative;
  width: 25rem;
  display: flex;
  flex-direction: column;
  height: 40rem;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  cursor: pointer;
  margin: 1rem 0rem;
  &:hover {
    .image {
      width: 100%;
      &::after {
        display: block;
      }
    }
  }
  &:hover .collection-item-btn {
    display: block;
  }

  .collection-item-btn {
    display: none;
    position: absolute;
    bottom: 10rem;
    background-color: rgba(196, 190, 190, 0.85);
    color: black;
    transition: all 0.2s ease-in-out;
    font-weight: 500;
    border: 1px solid black;
    &:hover {
      color: white;
      background-color: black;
      border: none;
    }
  }
  .image {
    position: relative;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    margin-bottom: 5px;
    transition: all 0.3s ease-in-out;
    border-radius: 10px;
    &::after {
      content: "";
      position: absolute;
      display: none;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(196, 190, 190, 0.3);
      transition: display 0.25s ease-in-out;
    }
  }

  .collection-footer {
    width: 100%;
    height: 5%;
    display: flex;
    justify-content: space-between;
    font-size: 1.8rem;
  }
}

.active {
  color: #ffd700;
}
.non-active {
  color: grey;
}
.name {
  font-size: 1.8rem;
}

.price {
  font-size: 1.8rem;
  font-weight: 600;
}

@media (max-width: 950px) {
  .collection-item {
    width: 30rem;
  }
}

@media (max-width: 840px) {
  .collection-item {
    width: 27.5rem;
  }
}
@media (max-width: 520px) {
  .collection-item {
    width: 25rem;
  }
}
@media (max-width: 450px) {
  .collection-item {
    width: 40rem;
    margin: 3rem 0;
  }
  .name,
  .price {
    font-size: 2.5rem;
  }
  .stars {
    font-size: 1.8rem;
  }
}

@media (max-width: 335px) {
  .collection-item {
    width: 35rem;
    margin: 3rem 0;
  }
}
