.collection-item {
  position: relative;
  min-width: 20%;
  display: flex;
  flex-direction: column;
  height: 400px;
  margin: 0 3%;
  align-items: center;
  overflow: hidden;
  cursor: pointer;
  &:hover {
    .image {
      width: 100%;
      &::after {
        display: block;
      }
    }
  }
  &:hover .collection-item-btn {
    display: block;
  }

  .collection-item-btn {
    display: none;
    position: absolute;
    bottom: 10rem;
    left: 3rem;
    background-color: rgba(196, 190, 190, 0.85);
    color: black;
    transition: all 0.2s ease-in-out;
    font-weight: 500;
    border: 1px solid black;
    &:hover {
      color: white;
      background-color: black;
      border: none;
    }
  }
  .image {
    position: relative;
    width: 115%;
    height: 95%;
    background-size: cover;
    background-position: center;
    margin-bottom: 5px;
    transition: all 0.3s ease-in-out;
    border-radius: 10px;
    &::after {
      content: "";
      position: absolute;
      display: none;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(196, 190, 190, 0.3);
      transition: display 0.25s ease-in-out;
    }
  }

  .collection-footer {
    width: 100%;
    height: 5%;
    display: flex;
    justify-content: space-between;
    font-size: 18px;

    
  }
}

.active{
  color:#FFD700;
}
.non-active{
  color:grey;
}
.name {
    font-size: 18px;
    }

    .price {
    font-size: 18px;
      font-weight: 600;
    }
   