.cart-icon {
  width: 45px;
  height: 45px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  .shopping-icon {
    width: 24px;
    height: 24px;
  }

  .item-count {
    position: absolute;
    font-size: 10px;
    font-weight: bold;
    bottom: 12px;
    animation: slideDown 0.25s ease-in-out;
  }
}

@keyframes slideDown {
  from {
    transform: translateY(-.5rem);
  }
  to {
    transform: translateY(0rem);
  }
}
