.checkout-container {
  margin: 7.5rem auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
}
.checkout {
  width: 100%;
  height: auto;
  padding-bottom: 4rem;
  &-table {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    &__headers {
      display: flex;
      justify-content: space-between;
      align-items: center;
      min-width: 1rem;
      &__item {
        width: 10rem;
        display: flex;
        justify-content: center;
        &-img {
          width: 15rem;
          justify-content: flex-start;
        }
      }
    }
  }
  &__items {
    width: 100%;
    margin-top: 2rem;
    max-height: 100%;
  }
  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-height: 25rem;

    font-size: 2rem;
    & > * {
      width: 10rem;
      display: flex;
      justify-content: center;
    }
    &__img {
      width: 15rem;
      height: 20rem;
    }
    &__quantity {
      &__icon {
        margin: 0 0.5rem;
        cursor: pointer;
      }
    }
    &__removal i {
      cursor: pointer;
    }
  }
}
.payment-actions {
  float: right;
}
.pay-button {
  color: white;
  background-color: rgb(90, 90, 204);
  border-radius: 7.5px;
  padding: 1rem 2rem;
  font-size: 1.5rem;
  border: none;
  outline: none;
  cursor: pointer;
}
.pay-button i {
  margin-left: 0.5rem;
}

.total {
  font-size: 3.5rem;
  margin-bottom: 2rem;
  text-transform: uppercase;
}

.table-headers {
  width: 100%;
  background-color: red;
  padding: 2rem;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.table-headers th {
  margin: 1.5rem 0;
}
hr.style-two {
  margin-top: 2rem;
  margin-bottom: 2rem;
  border: 0;
  height: 1px;
  background: rgba(0, 0, 0, 0.3);
}
//
