.menu-item {
  min-width: 30%;
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  outline: none;
  border-radius: 3px;
  margin: 0 7.5px 15px;
  position: relative;
  text-transform: uppercase;
  overflow: hidden;
  animation-duration: .5s;
 
  &:nth-of-type(1),
  &:nth-of-type(3) {
    visibility: hidden;
    animation: slideUp 0.5s ease-in-out forwards;
    animation-delay: 0.5s;
  }
  &:nth-of-type(2) {
    visibility: hidden;
    animation: slideLeftCustom 0.5s ease-in-out forwards;
  }
  &:nth-of-type(4) {
    animation: slideLeft 0.5s ease-in-out;
  }
  &:nth-of-type(5) {
    animation: slideRight 0.5s ease-in-out;
  }
  &:hover {
    cursor: pointer;
    .background-img {
      transform: scale(1.1);
    }
    .content {
      opacity: 0.9;
    }
  }

  .background-img {
    width: 100%;
    height: 100%;
    background-size: 100%;
    background-position: center;
    transition: all 0.75s ease-in-out;
  }
  &:first-child {
    margin-right: 7.5px;
  }

  &.large {
    height: 370px;
  }
  &.medium {
    height: 265px;
  }
  &:last-child {
    margin-left: 7.5px;
  }

  .content {
    height: 90px;
    padding: 0 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    background-color: white;
    border: none;
    outline: none;
    padding: 5rem 3rem;
    border-radius: 3px;
    opacity: 0.7;
    transition: all 0.3s ease-in-out;
    position: absolute;

    .title {
      font-weight: bold;
      margin-bottom: 6px;
      font-size: 2.5rem;
      color: #4a4a4a;
    }

    .subtitle {
      font-weight: lighter;
      font-size: 1.6rem;
    }
  }
}

@keyframes slideLeft {
  from {
    opacity: 0;
    transform: translateX(-20rem);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes slideLeftCustom {
  from {
    opacity: 0;
    visibility: hidden;
    transform: translateX(-20rem);
  }
  to {
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
  }
}
@keyframes slideRight {
  from {
    opacity: 0;
    transform: translateX(20rem);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes slideUp {
  from {
    opacity: 0;
    visibility: hidden;
    transform: translateY(20rem);
  }
  to {
    opacity: 1;
    visibility: visible;
    transform: translateY(0rem);
  }
}
