* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

html,
body {
  height: 100vh;
}


body {
  font-family: "Open Sans Condensed", sans-serif;
  padding: 2rem 8rem;
}